<p style="position:relative;bottom:0;width: 100%;background-color:skyblue;padding: 2%;margin: 0%;" class="text-center"> 
Copyright <%= new Date().getFullYear(); %>
Dette er ikke en officel side fra Jesu Kristi Kirke af Sidste Dages Hellige. <br> Kirkens hjemmeside kan findes 
<a href="https://www.churchofjesuschrist.org/?lang=eng"> her </a>
</p>