


<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Lejrtur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/tilmeldning">Tilmeldning</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/praktisk-info">Praktisk information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/program">Program</a>
          </li>



          <% if (data.req.session.authenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="/config">configurer</a>
            </li>
          <% } %>



          <!--
          <li class="nav-item">
            <a class="nav-link" href="/pigelejr">Info</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/drengelejr">Drengelejr</a>
          </li>
        -->
        
          
        </ul>
      </div>
    </div>
  </nav>