<%- include('../common/head') %>

<style>
    table, th, td {
      border: 1.5px solid black;
    }
</style>

<body>
    <header>
        <%- include('../common/header',{data : data}) %>
    </header>
    


    <main>

            <div class="container">

                    <div class="col col-md-12" >

                        <p>
                            <%- data.res.locals.config.info %>
                        </p>
        

                    </div>
                </div>






            
            </div>
    
           
    






    </main>



    <footer>
        <%- include('../common/footer') %>
    </footer>


</body>
</html>

