<%- include('../common/head') %>






<body>
    <header>
        <%- include('../common/header',{data : data}) %>
    </header>

    <main>
        <div class="container">
            <div class="col-md-12">
            </div>
                    <div class="col" style="margin-bottom: 50px;" >


                        <p>
                            <%- data.res.locals.config.program %>
                        </p>
        
                        <div class="row d-flex flex-column flex-md-row">
                            <div class="col col-md-4">
                                <img src="/images/1ugeplan.png" class="img-fluid" style="display: block ;max-width: 100%; object-fit: contain; margin-left:auto; margin-right: auto;"  alt="torsdags plan">
                            </div>
                              <div class="col col-md-4">
                                <img src="/images/2ugeplan.png" class="img-fluid" style="display: block ;max-width: 100%; margin-left:auto; margin-right: auto;"  alt="fredags plan">
                            </div>
                              <div class="col col-md-4">
                                <img src="/images/3ugeplan.png" class="img-fluid" style="display: block ;max-width: 100%; margin-left:auto; margin-right: auto;"  alt="lørdags plan">
                            </div>
                        </div>





                        
                    </div>
        </div>



    </main>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>