<%- include('../common/head') %>






<body>
    <header>
        <%- include('../common/header',{data : data}) %>
    </header>

    <main>
        <div class="container">
            <div class="col-md-12">
            </div>
                    <div class="col" style="margin-bottom: 50px;" >


                        <p>
                            <%- data.res.locals.config.program %>
                        </p>
        
                        <div class="row">
                            <div class="col-sm">
                                <img src="/images/1ugeplan.jpeg" class="img-fluid" style="display: block ;max-height: 600px; margin-left:auto; margin-right: auto;"  alt="Responsive image">
                            </div>
                              <div class="col-sm">
                                <img src="/images/2ugeplan.jpeg" class="img-fluid" style="display: block ;max-height: 600px; margin-left:auto; margin-right: auto;"  alt="Responsive image">
                            </div>
                              <div class="col-sm">
                                <img src="/images/3ugeplan.jpeg" class="img-fluid" style="display: block ;max-height: 600px; margin-left:auto; margin-right: auto;"  alt="Responsive image">
                            </div>
                        </div>





                        
                    </div>
        </div>



    </main>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>